/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');


/* shared styles here */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.w-50 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.w-100 {
    width: 100%;
}

.text-primary {
    color: #fb9028;
}

.text-light-gray {
    color: #727272;
}

.text-center {
    text-align: center;
}

.fw-normal {
    font-weight: normal;
}

.btn-primary {
    font-weight: 600;
    font-size: 1.15rem;
    padding: 15px 30px;
    color: #FFF;
    background-color: #fb9028;
    border: 0;
    border-radius: 5px;
}

.description {
    padding-top: 25px;
    padding-bottom: 25px;
}

.title {
    font-weight: 700;
    font-size: 3rem;
    color: #131313;
}

/* header styles */
header {
    background-color: #ff900d1a;
    padding-bottom: 35px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.nav-title {
    font-weight: 700;
    font-size: 3rem;
}

.nav-links>ul {
    display: flex;
    column-gap: 50px;
}

ul>li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #4d4c4b;
    font-weight: 600;
}

/* banner styles */
.banner-info {
    padding-top: 35px;
    padding-bottom: 35px;
}

.banner-title {
    font-size: 5rem;
}

/* main styles here */
main {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/* teams styles here */
.teams-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    align-items: center;
    margin: 50px;
    row-gap: 1.5rem;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

/* fact section styles here */
.facts-cards-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.facts-cards-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 30px;
    width: 200px;
}

.facts-cards-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
    margin-bottom: 20px;
}

.facts-cards-container .card-states {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sponsors styles here */
.sponsors {
    margin-top: 3rem;
}
.sponsors-img-container {
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}