/* responsive styles here */

/* mobile devices */
@media screen and (max-width: 576px) {
    .container {
        max-width: 500px;
    }

    .title {
        font-size: 2rem;
    }

    nav,
    .nav-links>ul,
    .features,
    .facts-cards-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    nav {
        padding-bottom: 0px;
    }

    .nav-title {
        margin-bottom: 15px;
    }

    .nav-links {
        font-size: 1.25rem;
    }

    .banner-title {
        font-size: 3rem;
    }

    .sm-w-75 {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .sm-w-85 {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .sm-w-100 {
        width: 100%;
    }

    .teams-content {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .teams-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-img img {
        margin: 0;
    }

    .ten-years-badge {
        position: static;
        width: 170px;
        padding: 20px;
        bottom: 50px;
        right: 25px;
        margin: 25px auto 0;
    }
    
    .ten-years-badge h2 {
        font-size: 2rem;
    }
    
    .ten-years-badge p {
        font-size: 0.75rem;
    }
    
    .facts-cards-container {
        row-gap: 25px;
    }

    .sponsors-img-container {
        row-gap: 2rem;
    }

    .sponsors-img-container img {
        width: 165px;
    }

    .footer-content {
        border-radius: 0;
    }
}

/* tablet devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    .md-w-75 {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    nav .nav-links {
        margin-top: 25px;
    }

    .teams-content {
        grid-template-columns: repeat(1, 1fr);
    }

    nav,
    .features {
        flex-direction: column;
    }
    .facts-cards-container {
        flex-wrap: wrap;
        row-gap: 6rem;
    }

    .sponsors-img-container {
        flex-wrap: wrap;
        gap: 3rem;
    }
}