/* responsive styles here */

/* mobile devices */
@media screen and (max-width: 576px) {
    .container {
        max-width: 500px;
    }
    nav,
    .nav-links>ul {
        flex-direction: column;
    }
    nav {
        padding-bottom: 0px;
    }
    .nav-title {
        margin-bottom: 15px;
        font-size: 2rem;
    }
    .nav-links {
        font-size: 1.25rem;
    }
    .banner-title {
        font-size: 3rem;
    }
    .sm-w-95 {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}